# Ignore Unity-generated folders

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Ignore IDE/editor files

.vs/
.vscode/
.idea/
*.csproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.unityproj
*.sln.iml

# OS files

.DS_Store
Thumbs.db

# Gradle / cache

.gradle/
*.gradle
/il2cpp_cache/

# Ignore everything in Assets by default

/Assets/*

# Keep your scripts folder

!/Assets/_Scripts/
!/Assets/_Scripts/**

# Keep input actions

!/Assets/InputSystem_Actions.inputactions
!/Assets/InputSystem_Actions.inputactions.meta

# Keep meta files for included assets

!/Assets/**/*.meta

# Keep Packages and ProjectSettings so the project can still be opened

!/Packages/
!/Packages/**
!/ProjectSettings/
!/ProjectSettings/**

# Ignore everything in Build by default

/Build/*

# Keep only the minimum Windows build files usually required

!/Build/UASPathPlanning.exe
!/Build/UASPathPlanning_Data/
!/Build/UASPathPlanning_Data/**
!/Build/UnityPlayer.dll

# Keep top-level files you want

!/.gitignore
!/README.md
