# Ignore Unity-generated folders

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Ignore IDE/editor files

.vs/
.vscode/
.idea/
*.csproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.unityproj
*.sln.iml
*.meta

# OS files

.DS_Store
Thumbs.db

# Gradle / cache

.gradle/
*.gradle
/il2cpp_cache/

# Ignore everything in Assets by default

/Assets/*

# Allow folders so Git can go deeper
!/Assets/_Scripts/
!/Assets/_Scripts/**/
!/Assets/_Scripts/**/*.cs

# Keep Packages and ProjectSettings so the project can still be opened

/Packages/*
/ProjectSettings/*


# Ignore everything in Build by default

/Build/*

# Keep only the minimum Windows build files usually required

!/Build/FinalUASPathPlanningBuild.zip

# Keep top-level files you want

!/.gitignore
!/README.md
